<!--Header-->
<header
  class="header fixed top-0 left-0 w-full z-50 flex items-center"
  id="header"
>
  <div class="flex items-center justify-between bg-red-400 py-4">
    <div
      [ngClass]="{ 'w-64': isCollapsed, 'w-16': !isCollapsed }"
      class="transition-all duration-300"
    >
      <a class="logo flex" href="index.html">
        <img alt="" class="pl-5 pr-2" src="assets/img/logo/logo.png" />
        <span
          [ngClass]="{
            'visible opacity-100': isCollapsed,
            'invisible opacity-0': !isCollapsed,
          }"
          >Kanija</span
        >
      </a>
    </div>
  </div>
  <div class="flex w-full">
    <div class="transition-all duration-300 px-4">
      <span
        (click)="isCollapsed = !isCollapsed"
        [class.flip-x]="isCollapsed"
        aria-hidden="false"
        aria-label="Expand icon"
        class="material-symbols-outlined text-2xl cursor-pointer nav-link"
      >
        right_panel_open
      </span>
    </div>

    <div class="search-bar">
      <div class="search-form flex items-center">
        <input
          name="query"
          placeholder="Search"
          title="Enter search keyword"
          type="text"
        />
        <button title="Search" type="submit">
          <span
            aria-hidden="false"
            aria-label="Expand icon"
            class="material-symbols-outlined text-2xl cursor-pointer ml-2"
          >
            search
          </span>
        </button>
      </div>
    </div>
    <nav class="header-nav ms-auto">
      <ul class="flex items-center">
        <li class="nav-item dropdown pe-3">
          <a
            class="nav-link nav-profile flex items-center pe-0"
            data-bs-toggle="dropdown"
            href="#"
          >
            <img
              alt="Profile"
              class="rounded-full"
              src="assets/img/avt/avt1.jpg"
            />
            <span class="d-none d-md-block dropdown-toggle ps-2">T.Link</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- End Header-->

<!--Sidebar-->
<aside
  [ngClass]="{ sidebar__expend: isCollapsed, sidebar__unexpend: !isCollapsed }"
  class="sidebar"
  id="sidebar"
>
  <ul class="sidebar-nav" id="sidebar-nav">
    <ng-container *ngFor="let item of menuItems">
      <ng-container
        *ngTemplateOutlet="renderItem; context: { $implicit: item }"
      ></ng-container>
    </ng-container>

    <ng-template #renderItem let-item>
      <li
        (click)="toggle(item, $event)"
        (mouseenter)="item.hover = true"
        (mouseleave)="item.hover = false"
        class="nav-item"
      >
        <a
          *ngIf="item.route; else noRoute"
          [routerLink]="item.route"
          class="nav-link px-5 py-3"
        >
          <ng-container *ngIf="item.firstLevel">
            <span
              aria-hidden="false"
              aria-label="Expand icon"
              class="material-symbols-outlined text-2xl cursor-pointer"
            >
              {{ item.icon }}
            </span>
          </ng-container>
          <span *ngIf="isCollapsed || !item.firstLevel" class="pl-4">{{
            item.label
          }}</span>
        </a>
        <ng-template #noRoute>
          <span class="nav-link px-5 py-3">
            <ng-container *ngIf="item.firstLevel">
              <span
                aria-hidden="false"
                aria-label="Expand icon"
                class="material-symbols-outlined text-2xl cursor-pointer"
              >
                {{ item.icon }}
              </span>
            </ng-container>
            <span *ngIf="isCollapsed || !item.firstLevel" class="pl-4">{{
              item.label
            }}</span>
          </span>
        </ng-template>

        <ul
          *ngIf="item.children && (item.hover || item.expanded)"
          class="submenu"
        >
          <ng-container *ngFor="let child of item.children">
            <ng-container
              *ngTemplateOutlet="renderItem; context: { $implicit: child }"
            ></ng-container>
          </ng-container>
        </ul>
      </li>
    </ng-template>
  </ul>
</aside>
<!-- End Sidebar-->

<!--Main content-->
<main
  [ngClass]="{ expend: !isCollapsed, unexpend: isCollapsed }"
  class="main-content"
>
  <ng-content></ng-content>
</main>
<!-- End Main content-->
<!--Footer-->
<footer
  [ngClass]="{ expend: !isCollapsed, unexpend: isCollapsed }"
  class="footer"
  id="footer"
>
  <div class="copyright">
    &copy; Copyright <strong><span>Kanija</span></strong
    >. All Rights Reserved
  </div>
  <div class="credits">
    Designed by
    <a
      href="https://www.facebook.com/chunghokage"
      rel="noopener noreferrer"
      target="_blank"
      >Chung Kelvin</a
    >
  </div>
</footer>
<!-- End Footer -->
