<!--Header-->
<header
  class="header fixed top-0 left-0 w-full z-50 flex items-center"
  id="header"
>
  <div class="flex items-center justify-between">
    <a class="logo flex items-center" href="index.html">
      <img alt="" src="assets/img/logo/logo.png" />
      <span class="hidden lg:block">Kanija</span>
    </a>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      class="text-3xl cursor-pointer ml-2.5"
      fontIcon="menu"
    ></mat-icon>
  </div>

  <div class="search-bar">
    <div class="search-form flex items-center">
      <input
        name="query"
        placeholder="Search"
        title="Enter search keyword"
        type="text"
      />
      <button title="Search" type="submit">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="text-3xl cursor-pointer ml-2.5"
          fontIcon="search"
        ></mat-icon>
      </button>
    </div>
  </div>
</header>
<!-- End Header-->

<!--Sidebar-->
<aside class="sidebar" id="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <ng-container *ngFor="let item of menuItems">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="item.route"
          [routerLinkActive]="'active'"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="text-3xl cursor-pointer"
            fontIcon="{{ item.icon }}"
          ></mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ng-container>
    <!-- End Dashboard Nav -->
  </ul>
</aside>
<!-- End Sidebar-->

<!--Footer-->
<footer class="footer" id="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Kanija</span></strong
    >. All Rights Reserved
  </div>
  <div class="credits">
    Designed by
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.facebook.com/chunghokage"
      >Chung Kelvin</a
    >
  </div>
</footer>
<!-- End Footer -->
