<mat-card class="card-product !border-none !shadow-none">
  <mat-card-content class="!px-2">
    <img alt="Photo of a Shiba Inu" class="cursor-pointer" mat-card-image
         src="assets/img/product/6tl25s001-sk010-thumb.webp">
    <div class="m-3">
      <!--Mini image product-->
      <div class="flex mb-2.5">
        <div class="product-item__color-option">
        </div>
        <div class="product-item__color-option">
        </div>
        <div class="product-item__color-option">
        </div>
        <div class="product-item__color-option">
        </div>
      </div>

      <!--Name product-->
      <h4 class="product-item__name mb-2">
        Áo phông nữ dài tay có hình in
      </h4>

      <!--Price-->
      <div class="product-item__price">
        <span class="product-item__price--normal">319.200&nbsp;₫</span>
        <span class="product-item__price--percent">-20%</span>
        <span class="product-item__price--old">399.000&nbsp;₫</span>
      </div>

      <div class="product-item__label--text mt-3">
        Giá tốt
      </div>
    </div>

  </mat-card-content>
</mat-card>
