<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/admin/category']">{{
      "category.category" | translate
    }}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{ "category.create" | translate }}</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="bg-white-200 w-full rounded-lg containerr">
  <div class="flex justify-between items-center p-2">
    <div>
      <span class="text-lg font-bold">Categories list(10)</span>
      <span class="text-lg font-bold"> - </span>
      <span class="text-lg font-bold">Selected 10 record</span>
    </div>
    <div>
      <button nz-button nzType="primary" class="bg-blue-500 text-white">
        Add new
      </button>
    </div>
  </div>
  <kan-table [data]="mockData" (onAction)="receiveData($event)"></kan-table>
</div>
