<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/admin/category']">{{
      "category.category" | translate
    }}</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{ "category.create" | translate }}</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="bg-white-200 w-full rounded-lg containerr">
  <div class="flex justify-between items-center p-2">
    <div>
      <span class="text-lg font-bold">{{
        "category.header.categories_list"
          | translate: { count: mockData.length }
      }}</span>
      <span *ngIf="selectedItems.length > 0" class="text-lg font-bold">
        -
      </span>

      <span *ngIf="selectedItems.length > 1" class="text-lg font-bold">
        {{
          "table.title_select_records"
            | translate: { count: selectedItems.length }
        }}
      </span>
      <span *ngIf="selectedItems.length === 1" class="text-lg font-bold">
        {{
          "table.title_select_record"
            | translate: { count: selectedItems.length }
        }}
      </span>
    </div>
    <div>
      <button class="bg-blue-500 text-white" nz-button nzType="primary">
        {{ "button.add_new" | translate }}
      </button>
    </div>
  </div>
  <kan-table
    (onAction)="receiveData($event)"
    [data]="mockData"
    [showCheckbox]="true"
    (onCheckItems)="selectedItems = $event"
  ></kan-table>
</div>
